@import url(../../../colors.css);

.devops{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--fundo-devops);

    width: 100%;
    height: 400px;
}

.devops > p{
    font-family: 'Prata';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 43px;
}

.devops__cards{
    display: flex;
    column-gap: 16px;
}

